.weather-error {
  color: $alert;
  margin: 0 auto;
  padding: 3em 1em 1em;
  text-align: center;
  width: 49em;

  p, pre {
    margin: 0 auto;
    max-width: 36em;
  }

  .error-message {
    background: #ffebe2;
    border: solid 1px $alert;
    margin-top: 0.6em;
    overflow: auto;
    padding: 0.6em 1em;
  }
}
