@import 'node_modules/weathericons/sass/weather-icons';

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-family: sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: #3b6ea7;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: lighten(#3b6ea7, 20%);
    text-decoration: underline;
  }
}

.container {
  padding: 2em 2em 0;
  margin: 0 auto;
  width: 49em;
}

.fullscreen-centered {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
}

.error {
  @extend .fullscreen-centered;
  justify-content: flex-start;
  color: #b70c0c;
  flex-direction: column;
  padding-top: 3em;

  p {
    max-width: 36em;
  }

  .error-message {
    background: #ffebe2;
    border: solid 1px #b70c0c;
    margin-top: 0.6em;
    padding: 0.6em 1em;
  }
}

@keyframes rock-left {
    0% { transform: rotate(0.05turn); }
    10% { transform: rotate(0.05turn); }
   50% { transform: rotate(-0.05turn); }
   60% { transform: rotate(-0.05turn); }
  100% { transform: rotate(0.05turn); }
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(359deg); }
}

.loader {
  @extend .fullscreen-centered;
  padding: 3em 2em;

  .icon {
    margin: 0 0.2em;
  }

  .rain {
    animation: rock-left 2s infinite;
    color: #ad00ff;
  }

  .sun {
    animation: spin 3s infinite linear;
    color: #ffcc00;
  }

  .snow {
    animation: rock-left 2s infinite;
    color: #00ccff;
  }
}

.current {
  margin-bottom: 2em;
  text-align: center;

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    &:first-of-type {
      margin-bottom: 0.4em;
    }
  }

  .temp {
    font-size: 4em;
    margin-right: 2rem;

    .degrees {
      font-size: 2rem;
      position: relative;
      top: 0.2em;
      vertical-align: top;
    }
  }

  .apparent-temp {
    color: #9645e8;
    margin-right: 2rem;
    visibility: hidden;
  }

  &.show-apparent .apparent-temp {
    visibility: visible;
  }

  &.higher-apparent .apparent-temp {
    color: #ff7722;
  }

  .precip {
    color: #0cafe2;
  }

  .icon {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
}

.days {
  font-size: 0.8em;

  .yAxis {
    display: none;
  }

  .day-label {
    padding: 0.4em 0;
    text-align: center;

    .date {
      border-bottom: solid 1px #eee;
      padding-bottom: 0.4em;
    }

    .details {
      padding-top: 0.4em;
    }

    .temp-min {
      color: #9645e8;
    }

    .temp-max {
      color: #ff7722;
    }

    .icon {
      padding-top: 0.8em;
    }
  }
}

.precip-chart {
  margin-top: -20px;
}

.recharts-tooltip-wrapper {
  transition: none !important;
}

.tooltip {
  background: #FFF;
  border-radius: 3px;
  border: solid 1px #d3d3d3;
  font-size: 0.8em;
  padding: 0.4em;

  .temp,
  .apparent-temp,
  .precip {
    margin-top: 0.4em;
  }

  .temp {
    color: #C00;
  }

  .apparent-temp {
    color: #9645e8;
  }

  .precip {
    color: #0cafe2;
  }
}

.y-label {
  font-size: 0.7em;
}

.recharts-legend-wrapper {
  bottom: 25px !important;
  font-size: 0.8em;
  right: 0 !important;

  .recharts-surface {
    position: relative;
    top: -2px;
  }
}

.wi-day-cloudy,
.wi-night-alt-cloudy {
  margin-top: 0.2em;
}

.credit {
  text-align: center;
  margin-top: 4em;
  padding-bottom: 0.4em;
}
