json('lib/colors.json')

@require('./styles/base')
@require('./styles/util')
@require('./styles/app')
@require('./styles/locations')
@require('./styles/alerts')
@require('./styles/current-weather')
@require('./styles/days')
@require('./styles/charts')
@require('./styles/errors')
@require('./styles/weather-icons')
