$warm: #ff7722;
$cold: #9645e8;
$precip: #0cafe2;
$wind: #002384;

@import 'node_modules/weathericons/sass/weather-icons';

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  user-select: all;
}

body {
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-family: sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: #3b6ea7;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: lighten(#3b6ea7, 20%);
    text-decoration: underline;
  }
}

.app {
  bottom: 0;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.location {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.location-chooser {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  max-width: 32em;
  width: 100%;

  button {
    align-items: center;
    background: #666;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    outline: none;
    padding: 0.4em 0.6em;

    &:hover {
      background: #444;
    }

    &[disabled],
    &[disabled]:hover {
      background: #999;
      cursor: not-allowed;
    }
  }

  .user-location,
  .toggle-recent {
    margin-right: 0.5em;
  }

  .user-location {
    border-radius: 5px 0 0 5px;
  }

  .chooser {
    position: relative;
  }

  .search {
    border-radius: 0 5px 5px 0;
    margin-left: 0.5em;
  }

  .chooser {
    flex-grow: 2;
    min-width: 12em;
  }

  .query {
    border: solid 1px #c7c7c7;
    border-radius: 0;
    padding: 0.4em 0.6em;
    font-size: 1em;
    width: 100%;
    -webkit-appearance: none;
  }

  ul {
    background: #fff;
    border: solid 1px #c7c7c7;
    border-top: none;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    li {
      border-top: solid 1px #d3d3d3;
      display: block;
      cursor: pointer;
      padding: 0.4em 0.6em;

      &:hover {
        background: #f4f4f4;
      }

      &:first-child {
        border-top: none;
      }
    }
  }

  &.showing-recent .recent,
  &.has-options .options {
    display: block;
  }

  &.has-options .recent {
    display: none;
  }

  .recent {
    label {
      color: #666;
      font-size: 0.8em;
      padding: 0.3em 0.4em;
    }

    li {
      display: flex;
      padding: 0;

      &:hover {
        background: none;
      }

      div {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 0.4em 0.6em;

        &:hover {
          background: #f4f4f4;
        }
      }

      .description {
        flex-grow: 2;
      }

      form.description {
        display: none;
      }

      &.is-editing {
        div.description { display: none; }
        form.description { display: block; }
      }

      input {
        background: #f8f8f8;
        border: none;
        border-right: solid 1px #e3e3e3;
        font-size: 1em;
        outline: solid 1px $precip;
        padding: 0.4em 0.6em;
        width: 100%;
      }

      button {
        color: #333;

        &,
        &:hover {
          background: none;
        }
      }

      &.is-editing .edit,
      .edit:hover {
        color: $precip;
      }

      .remove:hover {
        color: #c00;
      }
    }
  }

  .location-error {
    color: #b70c0c;
    background: #ffebe2;
    border: solid 1px #b70c0c;
    display: none;
    font-size: 0.8em;
    left: 0;
    padding: 0.6em 1em;
    position: absolute;
    right: 0;
    top: 100%;
  }

  &.has-error .location-error {
    display: block;
  }

  .loading {
    display: none;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  &.is-loading .loading {
    display: block;
  }
}

.fullscreen-centered {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
}

$alert-color: #b91d1d;

.alerts {
  display: flex;
  justify-content: center;
  padding: 0 0.5em;

  ul,
  .alerts-grouped {
    max-width: 31em;
    width: 100%;
  }

  .alerts-grouped {
    > div {
      background: transparentize($alert-color, 0.9);
      border: solid 2px $alert-color;
      border-radius: 3px;
      color: $alert-color;
      cursor: pointer;
      margin-bottom: 0.4em;
      padding: 0.6em 0.6em 0.4em;

      &:hover {
        background: transparentize($alert-color, 0.7);
      }

      svg {
        margin-right: 0.6em;
        width: 1em;
      }
    }

    ul {
      display: none;
    }

    &.showing-alerts ul {
      display: block;
    }
  }
}

.alert {
  background: $alert-color;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 0.4em;
  width: 100%;

  > div {
    align-items: stretch;
    display: flex;

    span,
    button {
      align-items: center;
      display: flex;
      padding: 0.4em 0.6em;
    }

    span {
      flex-grow: 2;

      svg {
        margin-right: 0.8em;
      }
    }

    button {
      background: none;
      border: none;
      border-left: solid 1px darken(#c00, 10%);
      color: #fff;
      cursor: pointer;
      font-size: 1em;
      outline: none;

      &:first-of-type {
        white-space: nowrap;
      }

      &:hover {
        background: darken(#c00, 10%);
      }
    }
  }

  p {
    border-top: solid 1px darken(#c00, 10%);
    display: none;
    padding: 0.4em 0.6em;
  }

  &.is-open p {
    display: block;
  }
}

.weather-error {
  color: #b70c0c;
  margin: 0 auto;
  padding: 3em 1em 1em;
  text-align: center;
  width: 49em;

  p, pre {
    margin: 0 auto;
    max-width: 36em;
  }

  .error-message {
    background: #ffebe2;
    border: solid 1px #b70c0c;
    margin-top: 0.6em;
    overflow: auto;
    padding: 0.6em 1em;
  }
}

@keyframes rock-left {
    0% { transform: rotate(0.05turn); }
    10% { transform: rotate(0.05turn); }
   50% { transform: rotate(-0.05turn); }
   60% { transform: rotate(-0.05turn); }
  100% { transform: rotate(0.05turn); }
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(359deg); }
}

.loader {
  @extend .fullscreen-centered;
  padding: 3em 2em;

  .icon {
    margin: 0 0.2em;
  }

  .rain {
    animation: rock-left 2s infinite;
    color: #00ccff;
  }

  .sun {
    animation: spin 3s infinite linear;
    color: #ffcc00;
  }

  .snow {
    animation: rock-left 2s infinite;
    color: #ad00ff;
  }
}

.current {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 1em;
  text-align: center;

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    &:first-of-type {
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }

    p {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: 1.2;
    }

    .summary {
      display: none;
    }
  }

  .apparent-temp,
  .summary {
    font-size: 0.9em;
  }

  .temp {
    font-size: 4em;
    margin-right: 0.6rem;

    .degrees {
      font-size: 2rem;
      position: relative;
      top: 0.2em;
      vertical-align: top;
    }
  }

  .apparent-temp {
    margin-right: 1rem;
  }

  &.lower-apparent .apparent-temp {
    color: $cold;
  }

  &.higher-apparent .apparent-temp {
    color: $warm;
  }

  .precip {
    color: $precip;
  }

  .icon {
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
  }
}

.radar {
  margin-left: 1.2em;
  position: relative;

  iframe {
    border: none;
    height: 10em;
    width: 10em;
  }

  .radar-cover {
    border: solid 1em #fff;
    border-radius: 2em;
    bottom: -0.7em;
    cursor: pointer;
    left: -0.7em;
    position: absolute;
    right: -0.7em;
    top: -0.7em;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 3.5em;
    justify-content: center;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 3.7em;

    &:hover {
      background: lighten(#333, 20%);
    }

    .icon {
      color: #fff;
      font-size: 2em;
    }
  }

  &.with-controls {
    display: none;
    margin-left: 0;

    &,
    iframe {
      bottom: 0;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
    }

    .radar-cover {
      display: none;
    }

    button {
      display: flex;
    }
  }
}

.showing-radar .radar.with-controls {
  display: block;
}

@media screen and (min-width: 450px) {
  .current {
    .temp {
      margin-right: 1rem;
    }

    .icon {
      font-size: 4em;
      margin-top: 0.1em;
    }

    .row {
      .summary {
        display: flex;
      }

      p {
        width: 8rem;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .current {
    margin: 2em 0;

    .row {
      &:first-of-type {
        margin-top: 0.2em;
      }
    }

    .precip {
      margin-top: 2em;
    }
  }
}

.charts {
  margin: 0 auto;
  max-width: 800px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;

  .has-focused-day & {
    overflow-x: auto;
  }
}

.recharts-wrapper {
  margin-left: -15px; // compensate for too much padding on left
}

.days {
  font-size: 0.8em;

  .has-focused-day & {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .yAxis {
    display: none;
  }

  .day-label {
    border-left: solid 1px #eee;
    cursor: pointer;
    height: 100%;
    padding: 0.4em 0;
    text-align: center;

    &:hover {
      background: #f8f8f8;
    }

    &.is-focused {
      background: #eee;
    }

    .date {
      border-bottom: solid 1px #eee;
      padding-bottom: 0.4em;
    }

    .details {
      font-size: 0.9rem;
      padding-top: 0.4em;
    }

    .temp-min {
      color: $cold;
    }

    .temp-max {
      color: $warm;
    }

    .icon {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 5.2em;
    }

    .precip {
      i {
        font-size: 1.1em;
        margin-right: 0.3em;
        position: relative;
        top: 2px;
      }

      &.is-snow i {
        color: $cold;
      }
    }
  }

  .day-label-container:first-child .day-label {
    border-left: none;
  }
}

.precip-chart,
.wind-chart {
  margin-top: -20px;
}

.recharts-tooltip-wrapper {
  transition: none !important;
}

.tooltip {
  background: #FFF;
  border-radius: 3px;
  border: solid 1px #d3d3d3;
  font-size: 0.8em;
  padding: 0.4em;

  .temp,
  .apparent-temp,
  .precip,
  .wind {
    margin-top: 0.4em;
  }

  .temp {
    color: #C00;
  }

  .apparent-temp {
    color: $cold;
  }

  .precip {
    color: $precip;
  }

  .wind {
    color: $wind;
  }
}

.y-label {
  font-size: 0.7em;
}

.recharts-legend-wrapper {
  bottom: 25px !important;
  font-size: 0.8em;
  right: 0 !important;

  .recharts-surface {
    position: relative;
    top: -2px;
  }
}

.legend {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .legend-item {
    align-items: center;
    display: flex;
    margin-left: 1em;
  }

  .box {
    display: block;
    height: 0.7em;
    margin-right: 0.4em;
    width: 1em;
  }

  .temp .box {
    background: #F00;
  }

  .apparent-temp .box {
    background: #9645e8;
  }

  .precip-probability .box {
    background: rgba(12, 175, 226, 0.2);
    border: solid 1px #0cafe2;
  }

  .snow-probability .box {
    background: rgba(150, 69, 232, 0.2);
    border: solid 1px #0cafe2;
  }

  .wind-speed .box {
    background: $wind;
  }
}

.wi-day-sunny { color: $warm; }
.wi-night-clear { color: $cold; }
.wi-rain { color: $precip; }
.wi-raindrop { color: $precip; }
.wi-snowflake-cold { color: $precip; }
.wi-sleet { color: darken($precip, 10%); }
.wi-strong-wind { color: $wind; }
.wi-fog { color: #b2b2b2; }
.wi-cloud { color: #777; }
.wi-day-cloudy { color: #777; }
.wi-night-alt-cloudy { color: #777; }
.wi-moon-new { color: #777; }

.credit {
  text-align: center;
  margin-top: 4em;
  padding-bottom: 0.4em;
}
